In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [ ]:
# read_csv
df = pd.read_csv('/content/car_details_from_car_dekho - car_details_from_car_dekho.csv')
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
2,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
3,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
4,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
5,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
6,Honda Amaze VX i-DTEC,2013,500000,30000,Diesel,Individual,Manual,First Owner
7,Maruti 800 AC,2007,95000,100000,Petrol,Individual,Manual,Second Owner
8,Maruti 800 AC,2002,65000,100000,Petrol,Individual,Manual,Second Owner
9,Maruti 800 AC,2000,60000,40000,Petrol,Individual,Manual,Third Owner
10,Maruti 800 AC,2007,105000,60000,Petrol,Individual,Manual,Second Owner
11,Hyundai Verna 1.6 SX,2013,484999,65000,Diesel,Dealer,Manual,First Owner
12,Maruti 800 AC,2012,180000,120000,Petrol,Individual,Manual,First Owner
13,Hyundai Verna 1.6 SX,2013,495000,100000,Diesel,Individual,Manual,Second Owner
14,Hyundai Verna 1.6 SX,2012,390000,86000,Diesel,Dealer,Manual,Second Owner
15,Hyundai Verna 1.6 SX,2012,409999,120000,Diesel,Individual,Manual,Third Owner
16,Maruti 800 AC,2002,65000,100000,Petrol,Individual,Manual,Second Owner
17,Maruti 800 AC,2002,80000,70000,Petrol,Individual,Manual,Second Owner
18,Honda Amaze VX i-DTEC,2013,325000,94000,Diesel,Individual,Manual,Second Owner
19,Honda Amaze VX i-DTEC,2013,450000,53000,Diesel,Individual,Manual,First Owner
20,Maruti 800 AC,2009,125000,50000,Petrol,Individual,Manual,Fourth & Above Owner
21,Hyundai Verna 1.6 SX,2012,390000,90000,Diesel,Individual,Manual,First Owner
22,Hyundai Verna 1.6 SX,2012,480000,80000,Diesel,Individual,Manual,First Owner
23,Hyundai Verna 1.6 SX,2014,650000,70000,Diesel,Individual,Manual,Second Owner
24,Honda Amaze VX i-DTEC,2016,700000,35000,Diesel,Individual,Manual,First Owner
25,Hyundai Verna 1.6 SX,2012,500000,130000,Diesel,Individual,Manual,First Owner
26,Maruti 800 AC,2013,100000,80000,Petrol,Individual,Manual,First Owner
27,Maruti 800 AC,2004,40000,69111,Petrol,Individual,Manual,Third Owner
28,Maruti 800 AC,2007,80000,120000,Petrol,Individual,Manual,First Owner
29,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
30,Maruti 800 AC,2014,225000,35000,Petrol,Individual,Manual,First Owner
31,Maruti 800 AC,2008,90000,70000,Petrol,Individual,Manual,Third Owner
32,Hyundai Verna 1.6 SX,2012,470000,109052,Diesel,Dealer,Manual,First Owner
33,Honda Amaze VX i-DTEC,2014,500000,110000,Diesel,Individual,Manual,Second Owner
34,Maruti 800 AC,2002,80000,40000,Petrol,Individual,Manual,Fourth & Above Owner
35,Hyundai Verna 1.6 SX,2014,450000,78000,Diesel,Individual,Manual,Second Owner
36,Honda Amaze VX i-DTEC,2018,700000,74800,Diesel,Individual,Manual,First Owner
37,Hyundai Verna 1.6 SX,2012,434999,235000,Diesel,Individual,Manual,Second Owner
38,Maruti 800 AC,2006,100000,54000,Petrol,Individual,Manual,First Owner
39,Maruti 800 AC,2008,80000,50000,Petrol,Individual,Manual,Second Owner
40,Hyundai Verna 1.6 SX,2012,520000,35000,Diesel,Individual,Manual,First Owner
41,Maruti 800 AC,2006,55000,70000,Petrol,Individual,Manual,Second Owner
42,Honda Amaze VX i-DTEC,2016,700000,35000,Diesel,Individual,Manual,First Owner
43,Maruti 800 AC,1999,50000,100000,Petrol,Individual,Manual,Second Owner
44,Maruti 800 AC,2009,120000,250000,Petrol,Individual,Manual,Second Owner
45,Hyundai Verna 1.6 SX,2013,484999,65000,Diesel,Dealer,Manual,First Owner
46,Maruti 800 AC,2014,195000,75000,Petrol,Individual,Manual,Second Owner

In [ ]:
# Create a new column 'year_old' and drop the 'year' column
df['year_old'] = 2023 - df['year']
df = df.drop(columns=['year'])
df

,name,selling_price,km_driven,fuel,seller_type,transmission,owner,year_old
0,Maruti 800 AC,60000,70000,Petrol,Individual,Manual,First Owner,16
1,Hyundai Verna 1.6 SX,600000,100000,Diesel,Individual,Manual,First Owner,11
2,Honda Amaze VX i-DTEC,450000,141000,Diesel,Individual,Manual,Second Owner,9
3,Maruti 800 AC,60000,70000,Petrol,Individual,Manual,First Owner,16
4,Hyundai Verna 1.6 SX,600000,100000,Diesel,Individual,Manual,First Owner,11
5,Honda Amaze VX i-DTEC,450000,141000,Diesel,Individual,Manual,Second Owner,9
6,Honda Amaze VX i-DTEC,500000,30000,Diesel,Individual,Manual,First Owner,10
7,Maruti 800 AC,95000,100000,Petrol,Individual,Manual,Second Owner,16
8,Maruti 800 AC,65000,100000,Petrol,Individual,Manual,Second Owner,21
9,Maruti 800 AC,60000,40000,Petrol,Individual,Manual,Third Owner,23
10,Maruti 800 AC,105000,60000,Petrol,Individual,Manual,Second Owner,16
11,Hyundai Verna 1.6 SX,484999,65000,Diesel,Dealer,Manual,First Owner,10
12,Maruti 800 AC,180000,120000,Petrol,Individual,Manual,First Owner,11
13,Hyundai Verna 1.6 SX,495000,100000,Diesel,Individual,Manual,Second Owner,10
14,Hyundai Verna 1.6 SX,390000,86000,Diesel,Dealer,Manual,Second Owner,11
15,Hyundai Verna 1.6 SX,409999,120000,Diesel,Individual,Manual,Third Owner,11
16,Maruti 800 AC,65000,100000,Petrol,Individual,Manual,Second Owner,21
17,Maruti 800 AC,80000,70000,Petrol,Individual,Manual,Second Owner,21
18,Honda Amaze VX i-DTEC,325000,94000,Diesel,Individual,Manual,Second Owner,10
19,Honda Amaze VX i-DTEC,450000,53000,Diesel,Individual,Manual,First Owner,10
20,Maruti 800 AC,125000,50000,Petrol,Individual,Manual,Fourth & Above Owner,14
21,Hyundai Verna 1.6 SX,390000,90000,Diesel,Individual,Manual,First Owner,11
22,Hyundai Verna 1.6 SX,480000,80000,Diesel,Individual,Manual,First Owner,11
23,Hyundai Verna 1.6 SX,650000,70000,Diesel,Individual,Manual,Second Owner,9
24,Honda Amaze VX i-DTEC,700000,35000,Diesel,Individual,Manual,First Owner,7
25,Hyundai Verna 1.6 SX,500000,130000,Diesel,Individual,Manual,First Owner,11
26,Maruti 800 AC,100000,80000,Petrol,Individual,Manual,First Owner,10
27,Maruti 800 AC,40000,69111,Petrol,Individual,Manual,Third Owner,19
28,Maruti 800 AC,80000,120000,Petrol,Individual,Manual,First Owner,16
29,Maruti 800 AC,60000,70000,Petrol,Individual,Manual,First Owner,16
30,Maruti 800 AC,225000,35000,Petrol,Individual,Manual,First Owner,9
31,Maruti 800 AC,90000,70000,Petrol,Individual,Manual,Third Owner,15
32,Hyundai Verna 1.6 SX,470000,109052,Diesel,Dealer,Manual,First Owner,11
33,Honda Amaze VX i-DTEC,500000,110000,Diesel,Individual,Manual,Second Owner,9
34,Maruti 800 AC,80000,40000,Petrol,Individual,Manual,Fourth & Above Owner,21
35,Hyundai Verna 1.6 SX,450000,78000,Diesel,Individual,Manual,Second Owner,9
36,Honda Amaze VX i-DTEC,700000,74800,Diesel,Individual,Manual,First Owner,5
37,Hyundai Verna 1.6 SX,434999,235000,Diesel,Individual,Manual,Second Owner,11
38,Maruti 800 AC,100000,54000,Petrol,Individual,Manual,First Owner,17
39,Maruti 800 AC,80000,50000,Petrol,Individual,Manual,Second Owner,15
40,Hyundai Verna 1.6 SX,520000,35000,Diesel,Individual,Manual,First Owner,11
41,Maruti 800 AC,55000,70000,Petrol,Individual,Manual,Second Owner,17
42,Honda Amaze VX i-DTEC,700000,35000,Diesel,Individual,Manual,First Owner,7
43,Maruti 800 AC,50000,100000,Petrol,Individual,Manual,Second Owner,24
44,Maruti 800 AC,120000,250000,Petrol,Individual,Manual,Second Owner,14
45,Hyundai Verna 1.6 SX,484999,65000,Diesel,Dealer,Manual,First Owner,10
46,Maruti 800 AC,195000,75000,Petrol,Individual,Manual,Second Owner,9

In [ ]:

df = df.loc[:, df.nunique() > 1]
df

,name,selling_price,km_driven,fuel,seller_type,owner,year_old
0,Maruti 800 AC,60000,70000,Petrol,Individual,First Owner,16
1,Hyundai Verna 1.6 SX,600000,100000,Diesel,Individual,First Owner,11
2,Honda Amaze VX i-DTEC,450000,141000,Diesel,Individual,Second Owner,9
3,Maruti 800 AC,60000,70000,Petrol,Individual,First Owner,16
4,Hyundai Verna 1.6 SX,600000,100000,Diesel,Individual,First Owner,11
5,Honda Amaze VX i-DTEC,450000,141000,Diesel,Individual,Second Owner,9
6,Honda Amaze VX i-DTEC,500000,30000,Diesel,Individual,First Owner,10
7,Maruti 800 AC,95000,100000,Petrol,Individual,Second Owner,16
8,Maruti 800 AC,65000,100000,Petrol,Individual,Second Owner,21
9,Maruti 800 AC,60000,40000,Petrol,Individual,Third Owner,23
10,Maruti 800 AC,105000,60000,Petrol,Individual,Second Owner,16
11,Hyundai Verna 1.6 SX,484999,65000,Diesel,Dealer,First Owner,10
12,Maruti 800 AC,180000,120000,Petrol,Individual,First Owner,11
13,Hyundai Verna 1.6 SX,495000,100000,Diesel,Individual,Second Owner,10
14,Hyundai Verna 1.6 SX,390000,86000,Diesel,Dealer,Second Owner,11
15,Hyundai Verna 1.6 SX,409999,120000,Diesel,Individual,Third Owner,11
16,Maruti 800 AC,65000,100000,Petrol,Individual,Second Owner,21
17,Maruti 800 AC,80000,70000,Petrol,Individual,Second Owner,21
18,Honda Amaze VX i-DTEC,325000,94000,Diesel,Individual,Second Owner,10
19,Honda Amaze VX i-DTEC,450000,53000,Diesel,Individual,First Owner,10
20,Maruti 800 AC,125000,50000,Petrol,Individual,Fourth & Above Owner,14
21,Hyundai Verna 1.6 SX,390000,90000,Diesel,Individual,First Owner,11
22,Hyundai Verna 1.6 SX,480000,80000,Diesel,Individual,First Owner,11
23,Hyundai Verna 1.6 SX,650000,70000,Diesel,Individual,Second Owner,9
24,Honda Amaze VX i-DTEC,700000,35000,Diesel,Individual,First Owner,7
25,Hyundai Verna 1.6 SX,500000,130000,Diesel,Individual,First Owner,11
26,Maruti 800 AC,100000,80000,Petrol,Individual,First Owner,10
27,Maruti 800 AC,40000,69111,Petrol,Individual,Third Owner,19
28,Maruti 800 AC,80000,120000,Petrol,Individual,First Owner,16
29,Maruti 800 AC,60000,70000,Petrol,Individual,First Owner,16
30,Maruti 800 AC,225000,35000,Petrol,Individual,First Owner,9
31,Maruti 800 AC,90000,70000,Petrol,Individual,Third Owner,15
32,Hyundai Verna 1.6 SX,470000,109052,Diesel,Dealer,First Owner,11
33,Honda Amaze VX i-DTEC,500000,110000,Diesel,Individual,Second Owner,9
34,Maruti 800 AC,80000,40000,Petrol,Individual,Fourth & Above Owner,21
35,Hyundai Verna 1.6 SX,450000,78000,Diesel,Individual,Second Owner,9
36,Honda Amaze VX i-DTEC,700000,74800,Diesel,Individual,First Owner,5
37,Hyundai Verna 1.6 SX,434999,235000,Diesel,Individual,Second Owner,11
38,Maruti 800 AC,100000,54000,Petrol,Individual,First Owner,17
39,Maruti 800 AC,80000,50000,Petrol,Individual,Second Owner,15
40,Hyundai Verna 1.6 SX,520000,35000,Diesel,Individual,First Owner,11
41,Maruti 800 AC,55000,70000,Petrol,Individual,Second Owner,17
42,Honda Amaze VX i-DTEC,700000,35000,Diesel,Individual,First Owner,7
43,Maruti 800 AC,50000,100000,Petrol,Individual,Second Owner,24
44,Maruti 800 AC,120000,250000,Petrol,Individual,Second Owner,14
45,Hyundai Verna 1.6 SX,484999,65000,Diesel,Dealer,First Owner,10
46,Maruti 800 AC,195000,75000,Petrol,Individual,Second Owner,9

In [ ]:
#target column
target_col = 'selling_price'
X = df.drop(columns=[target_col])
y = df[target_col]

In [ ]:
#test train split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [ ]:
print(X_train.columns)

Index(['name', 'km_driven', 'fuel', 'seller_type', 'owner', 'year_old'], dtype='object')

In [ ]:
#Encoding
categorical_cols = ['name','fuel','seller_type', 'owner']
encoder = OrdinalEncoder()
X_train[categorical_cols] = encoder.fit_transform(X_train[categorical_cols])
X_test[categorical_cols] = encoder.transform(X_test[categorical_cols])

In [ ]:
# Random Forest
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [ ]:
# Finding MAE
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print('Mean Absolute Error:', mae)

Mean Absolute Error: 38550.002